body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
  }

  .heart {
    width: 400px;
    height: 200px;
    animation: pulse 0.6s infinite;
    animation: pulse 1s infinite ease-in-out;
  }
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
 